
<div ng-include="'../templates/navHeaderWIthOptions.html'"></div>
<div class="container">
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">

                <div id="OrderPackages_1" class="table-responsive">

                    <table id="tableSearchResults" class="table color-bordered-table primary-bordered-table ">
                        <tbody>
                        <h2 style="color:tomato;">Employee Advance Details</h2>
                        <div class="panel panel-default">
                            <tr id="package_{{$index}}" class="accordion-toggle" data-toggle="collapse"
                                data-target=" .chimpance">
                                <td style="color:tomato; border: solid 2px black;">
                                    <span>Employee Id: {{employee.employeeId}} </span>
                                    <span >Employee Name: {{employee.employeeId}} </span>
                                    <span >Employee Phone <Number></Number>: {{employee.employeeId}} </span>
                                </td>
                            </tr>
                        </div>




                        <tr>
                            <td colspan="3" class="hiddenRow" data-parent="#OrderPackages_1">
                                <div class="accordion-body collapse chimpance" id="accordion1">

                                    <div id="OrderPackagess" class="table-responsive">
                                        <table id="tableSarchResults"
                                               class="table color-bordered-table primary-bordered-table">
                                            <thead>
                                            <tr>
                                                <th style="border-right-style:ridge; background-color:tomato;">Month
                                                </th>
                                                <th style="border-right-style:ridge; background-color:tomato;">Total
                                                    Advance Paid
                                                </th>
                                                <th style="border-right-style:ridge; background-color:tomato;">Balance
                                                    Amount
                                                </th>
                                                <!--<th>hyiyiyiyiy</th>-->
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="advance in advancePayments">
                                            <tr id="package11" class="accordion-toggle" data-toggle="collapse"
                                                data-parent="OrderPackages" data-target=".emp{{advance._id}}">
                                                <td style="border-right-style:ridge;">{{advance._id}}</td>
                                                <td style="border-right-style:ridge;">{{advance.total}}</td>
                                                <td style="border-right-style:ridge;">{{employee.monthlySalary -
                                                    advance.total}}
                                                </td>
                                                <!--<td><button class="btn-themecolor">Edit</button></td>-->
                                                <!--<td><i class="fa fa-spin fa-hand-o-up waves-effect"></i></td>-->
                                            </tr>
                                            <tr>

                                                <td colspan="3" class="hiddenRow">
                                                    <div class="accordian-body collapse table-responsive emp{{advance._id}}"
                                                         id="accordion11">
                                                        <table class="table color-bordered-table success-bordered-table">
                                                            <thead>
                                                            <tr>
                                                                <!--<th>{{subs.subCategoryid+sub.categoryId+subs.subCategoryid}}</th>-->
                                                                <th style="border-right-style:ridge; background-color:coral;">
                                                                    Date
                                                                </th>
                                                                <th style="border-right-style:ridge; background-color:coral;">
                                                                    MoneyTaken
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="adv in advance.data" class="kikikiki">
                                                                <td style="border-right-style:ridge;">
                                                                    {{adv.dateOfAdvance}}
                                                                </td>
                                                                <td style="border-right-style:ridge;">
                                                                    {{adv.salaryInAdvance}}
                                                                </td>
                                                                <!--<td><button class="btn-themecolor">Edit</button></td>-->
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div ng-include="'../templates/footer.html'"></div>



