<style>
    .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:black;
  text-align: center;
}
</style>
<div style="color:dodgerblue;" class="footer"> 2018, <strong style="color:white;">All rights declined</strong></div>
