<nav class="navbar navbar-inverse mployee ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SWEETS</a>
        </div>
        <ul class="nav navbar-nav" style="margin-left:1000px;">
            <li  ><a ui-sref="register">REGISTER</a></li>
            <li ><a ui-sref="login">LOGIN</a></li>
            <!--<li ><a ui-sref="employeedetails">Employee Details</a></li>
            <li ><a ui-sref="vendorDetails">Vendor Details</a></li>
            <li ><a ui-sref="receipts">Receipts</a></li>-->
        </ul>
    </div>
</nav>