<nav class="navbar navbar-inverse mployee ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SWEETS</a>
        </div>
        <ul class="nav navbar-nav" style="margin-left:1000px;">
          <!--  <li  ><a ui-sref="register">Register</a></li>
            <li ><a ui-sref="login">Login</a></li>-->
            <li ><a ui-sref="employeedetails">EMPLOYEE DETAILS</a></li>
            <li ><a ui-sref="vendorDetails">VENDOR DETAILS</a></li>
            <li ><a ui-sref="receipts">RECEIPTS</a></li>
            <li ><a ui-sref="products">PRODUCTS</a></li>
            <li ><a ui-sref="sales">SALES</a></li>
            <li ><a ui-sref="report">REPORT</a></li>
            <li ><a ui-sref="login">LOGOUT</a></li>
        </ul>
    </div>
</nav>